@page
@model IndexModel

<body>
<div class="text-center">
    <h1 class="display-4">Приветливый сайт :)</h1>
      <form method="post">
         <p><label for="title">Ваше имя:</label>
         <input type="text" name="name" value="" />
         </p>
         <input type="submit" value="Поздароваться!"/>
      </form>
</div>
</body>